* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   }
   body {
    background-color: #111;
   }
   
   header {
    display: flex;
    justify-content: space-between;
   }
   
   .showcase {
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #111;
    color: #fff;
    z-index: 2;
   }
   
   .showcase.active {
    right: 300px;
   }
   
   .logo {
    font-family: "Dancing Script", cursive;
    cursor: pointer;
   }
   
   .showcase header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
   }
   
   .nav__links {
    list-style: none;
   }
   
   .nav__links li {
    display: inline-block;
    padding: 0px 20px;
   }
   
   
   .nav__links li a {
    color: #fff;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    text-decoration: none;
    font-family: "Nunito", sans-serif;
    font-weight: 'bold';
   }
   
   .nav__links li a:hover {
    color: #FB48C4;
   }
   
   .showcase img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
   }
   
   .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #111;
    opacity: 0.9;
    mix-blend-mode: overlay;
   }
   
   .text {
    position: relative;
    z-index: 10;
   }
   
   .text h2 {
    font-size: 5em;
    font-weight: 800;
    line-height: 1em;
    text-transform: uppercase;
    font-family: "Nunito", sans-serif;
   }
   
   .text h3 {
    font-size: 3em;
    font-weight: 800;
    line-height: 1em;
    text-transform: uppercase;
    font-family: "Nunito", sans-serif;
   }
   
   .text p {
    font-size: 1.1em;
    margin: 20px 0;
    font-weight: 400;
    max-width: 700px;
    font-family: "Nunito", sans-serif;
   }
   
   @media (max-width: 991px) {
    .showcase,
    .showcase header {
      padding: 40px;
    }
    .text h2 {
      font-size: 3em;
    }
    .text h3 {
      font-size: 2em;
    }
   }
   
 