<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='homepage.css')}}">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Nunito:wght@200&display=swap" rel="stylesheet">
  <title>Fiffel & båg</title>
</head>
<body>
  <section class="showcase">
      <header>
          <h2 class="logo">Fiffel & båg</h2>
          <nav>
          <ul class="nav__links">
              <li><a href="{{url_for('sälj')}}">Sälj din bil</a></li>
              <li><a href="{{url_for('se')}}">Se våra bilar</a></li>
              <li><a href="{{url_for('kontakt')}}">Kontakta oss</a></li>
              <li><a href="{{url_for('om')}}">Om oss</a></li>
            
            </ul>
          </nav>
      </header>
    
      <img src="{{url_for('static', filename='Video/rodster-background.avif')}}"></img>
      <div class="overlay" ></div>
      <div class="text">
          <h2>Vi gör bilaffärer</h2>
          <h3>med skumma garantier</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Voluptates quasi culpa nam! Culpa ut,
              recusandae corporis sequi consequuntur
              molestias incidunt.</p>
      </div>
  </section>
  <div class="menu">
    
          <ul>
            <li><a href=”#”>Sälj din bil</a></li>
            <li><a href=”#”>Se våra bilar</a></li>
            <li><a href=”#”>kontakta oss</a></li>
            <li><a href=”#”>Om oss</a></li>
          </ul>
      
  </div>
  <sctipt type="text/javascript" src="{{ url_for('static', filename='js/active.js')}}">
  </sctipt>
</body>
</html>
